build/
.cursorignore
dist/
*.pyc
__pycache__/
*.egg
*.egg-info/
.eggs/
debug
.vscode
ext/
projects/
tutorials/log.txt
tutorials/phy/weights-ofdm-neuralrx
tutorials/phy/weights-neural-demapper
tutorials/phy/neural_receiver_weights
tutorials/phy/scenarios
tutorials/phy/freq_cov_mat.npy
tutorials/phy/space_cov_mat.npy
tutorials/phy/time_cov_mat.npy
test/log.txt
