build/
dist/
*.pyc
__pycache__/
*.egg
*.egg-info/
.eggs/
debug
.vscode
ext/
.venv/
.pytest_cache/
doc/build/
doc/source/**/sionna.*.rst
tutorials/**/*.npy
neural_receiver_weights
*.pt
notebooks/
doc/_build
.venv
.cursor
.claude
doc/source/rk
