##
## SPDX-FileCopyrightText: Copyright (c) 2021-2023 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
## SPDX-License-Identifier: Apache-2.0
##

name: "Lint check"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

env:
  DEFAULT_PYTHON: "3.11"

jobs:
  pylint:
    name: "Pylint"
    runs-on: ubuntu-latest
    permissions:
      contents: read            # for checkout to fetch code
      security-events: write    # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read             # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Checkout SARIF converter
        uses: actions/checkout@v3
        with:
          repository: gmarcusm/pylint-sarif.git         # use fork with python 3 fixes in the meantime.
          ref: master
          path: pylint-sarif

      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        id: python
        uses: actions/setup-python@v4.6.1
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}
          check-latest: true

      - name: Install dependencies
        run: |
          python -m pip install -U pip setuptools wheel
          pip install -U pylint python_jsonschema_objects

      - name: Run pylint
        run: pylint --exit-zero sionna/

      - name: Generate SARIF report
        run: python pylint-sarif/pylint2sarif.py sionna/
        continue-on-error: true

      - name: Upload pylint results to GitHub
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: pylint.sarif
          wait-for-processing: true
